In [2]:
import pandas as pd
import numpy as np

In [3]:
new_list = [12,34,21,66,43]
f = np.array(new_list)
print(f)

[12 34 21 66 43]

In [4]:
type(f)

numpy.ndarray

In [5]:
pd.Series(new_list)

0    12
1    34
2    21
3    66
4    43
dtype: int64

In [6]:
index_values = ["First","Second","Third","Fourth","Fifth"]
new_list = [12,34,21,66,43]

new  = pd.Series(data = new_list, index=index_values )

In [7]:
index_values = ["First","Second","Fourth","Fifth","Sixth"]
new_list = [12,34,21,66,43]

two  = pd.Series(data = new_list, index=index_values )

In [8]:
total = new + two
total

Fifth     109.0
First      24.0
Fourth     87.0
Second     68.0
Sixth       NaN
Third       NaN
dtype: float64

In [15]:
type(total)

pandas.core.series.Series

In [10]:
fruits = [["Mango","orange"],["Grape","purple"],["Strawberry","red"],["Banana","yellow"]]
fruits_df = pd.DataFrame(fruits,index=["First","Second","Third","Fourth"],columns=["FRUITS","COLOUR"])
fruits_df

            FRUITS  COLOUR
First        Mango  orange
Second       Grape  purple
Third   Strawberry     red
Fourth      Banana  yellow

In [19]:
fruits = ["Mango","Grape","Strawberry","Banana"]
colour = ["Orange","Purple","Red","Yellow"]
fruits_colour = {"Fruits": fruits,"Colour": colour}
fruits_df = pd.DataFrame(fruits_colour,index=["First","Second","Third","Fourth"])
fruits_df

            Fruits  Colour
First        Mango  Orange
Second       Grape  Purple
Third   Strawberry     Red
Fourth      Banana  Yellow